/* BASIC SETUP */
@import url(http://fonts.googleapis.com/css?family=Exo);
* {
    margin: 0;
    padding: 0;
    font-weight: normal;
    outline: none;
}

a {text-decoration: none}
ul,ol {list-style: none}
img {vertical-align: middle}


html{
    font-family: 'Meiryo','Hiragino Maru Gothic Pro',Helvetica, Arial,sans-serif;
    line-height: 1.5;
}

body {
    -webkit-text-size-adjust: 100%;
    font-size: 12px;
    color: #FFF;
    background: #006;
    width: 90%;
    margin: auto;
}

hgroup{
    padding-top: 2em;
}

h1 {
    font-size: :3em;
    line-height: 1;
    margin-bottom: 0.5em;
}

h2 {
    font-size: :2em;
    line-height: 1;
    margin-bottom: 0.5em;
}
article {
        margin-bottom: 0.5em;

}

article time{
    display: block;
    width:8em;
    padding: 0.5em;
    text-align: center;
    border-style:solid;
    border-width:1px;
    border-color:rgba(255,255,255,0.1);
    font-family: 'Exo', sans-serif;
    font-size: 1em;
    line-height: 1;
}

article section{
    font-size: 1em;
    margin-left: 2em;
    padding: 0.5em;
    border-style:solid;
    border-width:1px;
    border-color:rgba(255,255,255,0.1);
}

